@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto&family=Ubuntu&family=Work+Sans:wght@400;500&display=swap');

body{
    font-family: 'Work Sans', sans-serif;;
}
/* Header styles */

header{
    padding: 30px 100px;
    background-color: rgb(241, 230, 167);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131113;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 15px;
    
}
ul li a{
    text-decoration: none;
    color: rgb(29, 16, 16);
    font-weight: 700;
}

.header-content{
    text-align: center;
}
.header-content img{
    width: 100%;
}
.banner{
  margin-bottom: 30px;  
}
.banner-title{
    font-size: 4rem;

}
.banner-des{
    font-size: 1rem;
}
.btn-primary{
    
    padding: 10px 15px;
    background-color: gold;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-radius: 10px;
}

/* Responsiveness of Header for small devices*/
@media screen and (max-width: 576px){
    
    header{
        padding: 20px 40px;
    }
    nav{
        flex-direction: column;  
    }
    .nav-header{
        font-size: 1.8rem;
    }
    ul{
        flex-direction: row;
    }
    ul li{
        list-style: none; 
    }
    .header-content img{
        width: 100%;
    }
    .banner{
    margin-bottom: 15px;  
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-des{
        font-size: .8rem;
    }
    .btn-primary{
        padding: 7px 10px;
        border-radius: 7px;
    }
}

/* Responsiveness for medium devices */
@media screen and (min-width: 577px) and (max-width: 768px){
    
    header{
        padding: 20px 40px;
    }
    nav{
        flex-direction: row;  
    }
    .nav-header{
        font-size: 1.8rem;
    }
     .banner-title{
        font-size: 2rem;
    }
}

/* Responsiveness for large device */
@media screen and (min-width: 769px) and (max-width: 992px){
    
   header{
        padding: 30px 60px;
    }
    nav{
        flex-direction: column;  
    }
    .nav-header{
        font-size: 2.2rem;
    }
    ul{
        flex-direction: row;
    }
    .banner{
    margin-bottom: 15px;  
    }
    .banner-title{
        font-size: 3rem;
    }
    .banner-des{
        font-size: 1rem;
    }
    .btn-primary{
        padding: 10px 15px;
        border-radius: 10px;
    }
}